body {
    background-color: #36c9be;
}

@font-face {
    font-family: myFont;
    src: url(./assets/BloggerSans-Bold.otf);
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

img {
    height: 100px;
    width: 100px;
}

@keyframes scroll {
	0% { transform: translateX(-600px); }
	100% { transform: translateX(100vw); }
}

.slider {
    height: 100px;
    overflow: hidden;
    
}

.slide-track {
    animation: scroll 9s linear infinite;
    display: flex;
    width: 500px;
}

.slide {
    height: 100px;
    width: 250px;
}

.project-title {
    text-align: center;
    font-size: 200px;
    font-family: myFont;
    font-weight: bold;
    min-width: 200px;
    color: white;
    
}

.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}


.middle-section {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0px;
}

@media (max-width: 1400px) {
    .project-title {
        font-size: 150px;
        transition: 1s;
    }
}