body {
}
.main-wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.recipe-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black ;
    justify-content: space-around;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10% 10%;
    transition: transform 2s ease;
}

.recipe-wrapper.flipped {
    /* Styles for flipped state */
    transform: rotateY(360deg) translateZ(-100px);
    /* Add any other styles you need for the flipped state */
}

.title-wrapper {
    margin: 40px;
}

.image-wrapper {
    margin: 40px;
}

.ingredients-wrapper {
    margin: 40px;
}

.reroll {
    padding: 50px;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15rem;
    transition: 1s;
    border: none;
}

.reroll:hover {
    color: white;
    transition: 1s;
    font-size: 17rem;
}

.reroll:active {
    transform: rotate(360deg);
    transition: 2ms;

}

