body {
}

@font-face {
    font-family: myFont;
    src: url(./assets/BloggerSans-Bold.otf);
}

@font-face {
    font-family: bold-lining;
    src: url(./assets/Bold\ Lining.ttf);
}

.main-wrapper {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.recipe-wrapper {
    font-family: bold-lining;
    font-size: 2em;
    line-height: 0.7em;
    border: none;
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black ;
    justify-content: space-around;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 3%;
    transition: transform 2s ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.recipe-wrapper.flipped {
    /* Styles for flipped state */
    transform: rotateY(360deg) translateZ(-100px);
    /* Add any other styles you need for the flipped state */
}

.title-wrapper {
    border-bottom: 1px solid;
    margin: 40px;
}

.image-wrapper {
    margin: 40px;
}

.ingredients-wrapper {
    margin: 40px;
}

.reroll {
    padding: 50px;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 7rem;
    transition: 1s;
    border: none;
    margin-top: 50%;
    font-family: myFont;
    color: #333;
}

.reroll:hover {
    color: white;
    transition: 1s;
    font-size: 10rem;
}

.reroll:active {
    transform: rotate(360deg);
    transition: 2ms;
}

.imageStyle {
    width: 428px;
    height: 285px;
    border: 1px solid black;
}

h2 {
    text-transform: capitalize;
    font-size: 2em;
}

ul {
    text-align: left;
    padding-left: 10px;
}

p {
    text-decoration: underline;
}